[build-system]
requires = ["setuptools>=40.8.0", "wheel", "setuptools_scm[toml]>=8.0"]
build-backend = "setuptools.build_meta"

[project]
name = "FlowCytometry"
dynamic = ["version"]
description = "A package for flow-cytometry simulations."
license = {file = "LICENSE"}
readme = "README.rst"
requires-python = ">=3.10"
authors = [{ name="Martin Poinsinet de Sivry-Houle", email="martin.poinsinet.de.sivry@gmail.com"}]
classifiers = [
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: Implementation :: CPython',
    'Development Status :: 3 - Alpha',
    'Topic :: Scientific/Engineering :: Physics',
    'License :: OSI Approved :: MIT License',
    'Intended Audience :: Science/Research',
]

keywords = ["refracive index", "optics"]

dependencies = [
    "pydantic>=2.6.3",
    "numpy",
    "scipy",
    'MPSPlots',
]

[tool.setuptools]
packages = ["FlowCytometry"]

[tool.setuptools_scm]
write_to = "FlowCytometry/_version.py"
version_scheme = "post-release"
local_scheme = "no-local-version"

[project.optional-dependencies]
testing = [
    "pytest>=0.6",
    "pytest-cov>=2.0",
    "pytest-json-report==1.5.0",
    "mypy>=0.910",
    "flake8>=3.9",
    "tox>=3.24",
    "coverage==6.5.0"
]

documentation = [
    "numpydoc==1.6.0",
    "sphinx>=5.1.1",
    "sphinx-gallery==0.15.0",
    "sphinx-rtd-theme==2.0.0",
    "pydata-sphinx-theme==0.14.1",
]

[tool.pytest.ini_options]
minversion = "6.0"
xfail_strict = true
log_cli_level = "INFO"
testpaths = [
    "tests/*",
]
addopts = [
    '-v',
    '-rA',
    '-rw',
    '--cov=FlowCytometry',
    '--cov-report=html',
]

[tool.coverage.run]
source = ['FlowCytometry']
omit = [
    '*/__init__.py',
    '*/_version.py',
    '*/directories.py',
]
branch = true
relative_files = true