name: Deploy to PyPi

on:
  push:
    branches: [ "master" ]
    tags: '*'
  pull_request:
    branches: [ "master" ]

permissions:
    contents: write

jobs:
  compiled_pypi_package:
    uses: MartinPdeS/MPSActions/.github/workflows/publish_compiled_package_to_PyPi.yml@master
    with:
      python-version: "3.11"
      brew-package: fftw
      apt-package: libfftw3-double3 libfftw3-dev
      build-Linux: true
      build-macOS: false
      build-Windows: false
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
